{% extends 'base.html' %}
{% load staticfiles %}
{% block estilosp %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/lista.css' %}">
{% endblock %}
{% block titulo %}
	Lista Plataforma
{% endblock %}
{% block titulop %}
{% endblock %}

{% block contenido %}

  <h2 class="titulo">Lista de Plataformas</h2>
  <a href="{% url 'agregar_plataforma' %}"> <input type="submit" value="Agregar Plataforma" id="agregar"></a>
	<table class="listap">
        <thead>
          <tr>
            <th class="titulov center-align">Plataforma</th>
          </tr>
        </thead>

        <tbody  class="contenidov" >
          <tr>
        {% for p in lplataforma %}
			<td class="center-align"><a class="detalles" href="{% url 'plataforma_detalle' id_pla=p.id %}">{{ p.nombre }}</td>
			
        </tr>
        {% endfor %}
    	</tbody>
    </table>


{% endblock %}
